<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.9.8.dtd">

<suite name="OpenCart Test Suite" parallel="tests" thread-count="2">

    <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>

    <!-- Chrome Execution -->
    <test name="Chrome Test Suite">
        <parameter name="browser" value="chrome"/>
        <parameter name="runMode" value="grid"/>
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="testCases.TC_002_LoginTest"/>
            <class name="testCases.TC_003_SearchTest"/>
        </classes>
    </test>

    <!-- Firefox Execution -->
    <test name="Firefox Test Suite">
        <parameter name="browser" value="firefox"/>
        <parameter name="runMode" value="grid"/>
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="testCases.TC_002_LoginTest"/>
            <class name="testCases.TC_003_SearchTest"/>
        </classes>
    </test>

</suite>